body {
    background-color: darkslategray;
    color: darkturquoise;
    height: 92vh;
   width: 95vw;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

