@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

/*Cor de fundo do corpo da página e cor de texto*/
body {
    color: darkslategrey;
    background-color: black;
    text-shadow: 2px 2px 5px red;
}

h1 {
    color:greenyellow;
    font-family: 'Black Ops One', cursive;
    font-size: 400%; 
    text-shadow: 2px 2px 5px black;
    text-align: center;

}

/*Seletor h2*/
h2 { /*Propriedades do h2*/
    color: blue;
    font-family: 'Indie Flower', cursive;
    font-size: 150%;
    text-align: center;

}

img {
    height: 200px;
    width: 200px;   
    margin-left: 165px;
    box-shadow: 5px 5px 10px deepskyblue;
    border-radius: 20px;
}
 
img#imgPrincipal {
    height: 400px;
    width: 600px; 
    display: block;
    margin:0 auto;
 }
 



