.container {
    background-color: darkgoldenrod;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 .item {
    background-color:deeppink;
    color: #fff;
    padding: 10px;
    border: 2px solid black;
    margin: 20px;
 }
 
 .item1{
    height: 100px;
    width: 100px;
    left: auto;
 }
 
 .item2{
    height: 50px;
    width: 150px;
 }
 
 .item3{
    height: 100px;
    width: 200px;
 }